/* Section 1 */
.top-guy-wrap {
    margin-bottom: 64px;
}

.top-guy-wrap img {
    margin: auto;
    margin-top: 69px;
    width: 100%;
}

/* Section 1 end */
/* Section 2 */
.section-2 {
    display: flex;
    max-width: 855px;
    text-align: center;
    gap: 75px;
    margin: auto;
    align-items: flex-start;
}

.social-share {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    position: sticky;
    top: 100px;
    margin-bottom: 64px;
}

.social-share h2 {
    writing-mode: vertical-rl;
    color: var(--primary);
    font-family: 'Optima', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.social-share .social-nav {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 20px
}

.social-nav.share li {
    padding: 4px;
    background-color: var(--accent-background);
    display: flex;
    align-items: center;
    gap: 4px;
    position: relative;
}

.social-nav.share .numbers-block {
    position: absolute;
    transform: translateX(-5px);
    background: black;
    z-index: -1;
    height: 100%;
    background-color: var(--accent-background);
    opacity: 0;
    transition: transform 0.5s ease-out;
}

.numbers-block .number-share {
    color: var(--secondary-gray);
    font-family: 'Optima', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 6px 4px 4px 0px;
}

.social-li:hover .numbers-block {
    transform: translateX(20px);
    opacity: 1;
}

.social-li:hover path {
    fill: var(--active);
}

.automatic-text {
    max-width: 730px;
}

.automatic-text img {
    margin-block: 40px;
}

.automatic-text .last-img {
    margin-block: 40px 64px;
}

.automatic-text .main-text {
    color: var(--primary);
    text-align: center;
    font-family: 'Optima', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.automatic-text .date-time-position {
    margin-block: 12px;
}

.automatic-text .date-time-position {
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: center;
}

.automatic-text .date,
.automatic-text .time,
.automatic-text .position {
    color: var(--secondary-gray);
    text-align: center;
    font-family: 'Optima', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.italic {
    text-align: start;
    border-bottom: 1px solid black;
    padding-bottom: 20px;
    color: var(--primary);
    font-family: 'Optima', sans-serif;
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    line-height: 24px;
}

.automatic-text p {
    color: var(--primary);
    font-family: 'Optima', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    margin-bottom: 20px;
}

.automatic-text p::-moz-selection {
    color: var(--fot-text-white);
    background-color: var(--active);
}

.automatic-text p::selection {
    color: var(--fot-text-white);
    background-color: var(--active);
}

.automatic-text p.top {
    margin-block: 20px;
}

.automatic-text .social-block {
    display: none;
    position: fixed;
    left: 50%;
    top: 0;
    translate: 0 -100%;
}

.social-block .social-nav {
    display: flex;
    list-style: none;
    gap: 12px;
    background-color: var(--primary);
    padding: 8px 12px 6px;
    align-items: center;
    border-radius: 2px;
    position: relative;
}

.social-block .social-nav::after {
    position: absolute;
    content: "";

    border: 10px solid;

    border-top-color: transparent;
    border-bottom-color: var(--primary);
    border-left-color: transparent;
    border-right-color: transparent;
    rotate: 180deg;
    bottom: -50%;
    left: 40%;
}

.social-block .social-nav li path {
    fill: var(--accent-background);
}

.name-of-game .name-of-game-main {
    color: var(--primary);
    text-align: center;
    font-family: 'Optima', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.notice-block-with-share-btn {
    margin-bottom: 40px;
}

.notice-block-with-share-btn .notice-discription {
    padding: 20px 0px 20px 30px;
    border-left: 3px solid var(--active);
    color: var(--primary, #1A1A1A);
    font-family: 'Optima', sans-serif;
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    margin-left: 50px;
}

.notice-block-with-share-btn button {
    display: flex;
    margin-left: auto;
    padding: 8px 20px;
    background-color: var(--active);
    gap: 8px;
    border: unset;
    align-items: center;
}

.notice-block-with-share-btn button h3 {
    color: #F8F9FC;
    font-family: 'Optima', sans-serif;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
}

.speaker {
    margin-bottom: 40px;
}

.speaker img {
    margin-bottom: 20px;
}

.speaker .text-about-speaker {
    color: var(--secondary-gray);
    font-family: 'Optima', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;
}

.name-of-game.bottom {
    margin-bottom: 40px;
}

.tags ul,
.share ul {
    display: flex;
    align-items: center;
    gap: 24px;
    list-style: none;
    margin-bottom: 40px;
}

.share ul {
    margin-bottom: 64px;
}

.tags li,
.share li,
.socials h4 {
    color: var(--primary);
    text-align: center;
    font-family: 'Optima', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.tags ul .tag {
    color: var(--secondary-gray);
}

.share .socials {
    display: flex;
    align-items: baseline;
    gap: 8px;
    padding: 7px 12px 5px 12px;
    background-color: var(--accent-background);
}

/* Section 2 end */

/* Sectio 3 start */
.section-3 .sign-blocks-container {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-bottom: 186px;
}

.sign-blocks-container .sign-up-block-wrap {
    padding: 20px 12px;
    background-image: url(../img/left-cta.png);
    background-repeat: no-repeat;
    max-width: 445px;
    text-align: center;
}

.sign-blocks-container .sign-up-block-wrap.bottom {
    background-image: url(../img/right-cta.png);
    border: 1px solid var(--primary);
    max-height: 280px;
}

.sign-up-block-wrap button {
    margin-inline: auto;
}

.sign-up-block-wrap .sign-up {
    color: var(--fot-text-white);
    font-family: 'Optima', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 16px;
}

.sign-up-block-wrap.bottom .sign-up,
.sign-up-block-wrap.bottom .discription {
    color: var(--primary);
}

.sign-up-block-wrap .discription {
    font-size: 16px;
    color: var(--fot-text-white);
    font-family: 'Optima', sans-serif;
    font-style: normal;
    line-height: 21px;
    font-weight: 400;
    margin-bottom: 20px;
}

.sign-up-block-wrap .enter-your-email-wrap {
    display: flex;
    max-width: 508px;
}

.enter-your-email-wrap .subscribe-btn {
    width: 100%;
    justify-content: center;
}

/* Section 3 end */

/* Section 4 start */
.articles-wrap {
    max-width: 1920px;
    margin: auto;
    padding-inline: 85px;
    margin-bottom: 64px;
}

.articles-wrap .text-top {
    margin-bottom: 64px;
    color: var(--primary);
    font-family: 'Optima', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.articles-block-wrap {
    display: flex;
    gap: 30px;
    justify-content: space-between;
}

.articles-block {
    max-width: 255px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.articles-block .date-time-position {
    display: flex;
    align-items: center;
    gap: 8px;
}

.date-time-position .date,
.date-time-position .time,
.date-time-position .position {
    color: var(--secondary-gray);
    text-align: center;
    font-family: 'Optima', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.articles-block .discription {
    color: var(--primary);
    font-family: 'Optima', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* Section 4 end */

/* Footer */
.enter-your-email-wrap form {
    width: 100%;
    position: relative;
    display: flex;
}

.enter-your-email-wrap .input-email {
    flex-grow: 1;
    padding: 12px;
    border: 1px solid var(--secondary-gray);
}

.enter-your-email-wrap .input-email:active,
.enter-your-email-wrap .input-email:focus {
    outline: none;
}

.enter-your-email-wrap .input-email:active+label,
.enter-your-email-wrap .input-email:focus+label {
    display: none;
}

.enter-your-email-wrap .email {
    position: absolute;
    left: 12px;
    top: 12px;
    color: var(--secondary-gray);
    font-family: 'Optima', sans-serif;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    pointer-events: none;
}

.enter-your-email-wrap button {
    display: flex;
    align-items: center;
    padding: 12px 20px;
    gap: 8px;
    background-color: var(--active);
    border: none;
    cursor: pointer;
}

.enter-your-email-wrap button h4 {
    color: var(--fot-text-white);
    font-family: 'Optima', sans-serif;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
}

/* Footer*/
.nav-wrap button {
    display: none;
}

@media(max-width:1279px) {
    .articles-block-wrap {
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media(max-width:1080px) {
    .nav-wrap button {
        display: flex;
    }

    .sign-blocks-container {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .sign-blocks-container .sign-up-block-wrap {
        margin-bottom: 0px;
    }
}

@media(max-width:768px) {
    .section-2 {
        gap: 5px;
        padding-inline: 20px;
    }

    .section-3 .sign-blocks-container {
        gap: 20px;
        margin-bottom: 40px;
    }

    .sign-blocks-container .sign-up-block-wrap {
        background-size: cover;
        min-height: 386px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .sign-blocks-container .sign-up-block-wrap.bottom {
        margin-bottom: 40px;
    }

    .articles-wrap {
        padding-inline: 15px;
    }

    .stay-with-me-container {
        margin-inline: 20px;
        padding-top: 12px;
    }

    .stay-with-me-container .stay-with-me-wrap {
        margin-bottom: 24px;
    }

    .stay-with-me-container .copyright-bottom {
        flex-direction: column-reverse;
        row-gap: 24px;
    }

    .tags ul,
    .share ul {
        flex-direction: column;
    }

    .tags ul {
        gap: 10px;
    }

    .share .socials {
        justify-content: center;
        width: 100%;
    }

    .enter-your-email-wrap button {
        margin-inline: unset;
    }

    .notice-block-with-share-btn .notice-discription {
        margin-left: 0px;
    }
}