.nav-wrap {
    display: flex;
    justify-content: space-between;
    padding-inline: 85px;
    align-items: center;
    padding-block: 24px 12px;
}

.nav-wrap .logo {
    color: var(--primary);
    font-family: 'Optima', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.navigation {
    display: flex;
    list-style-type: none;
    gap: 40px;
}

.navigation .nav-links {
    color: var(--primary);
    font-family: 'Optima', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

.contacts-wrap {
    display: flex;
    gap: 40px;
    align-items: center;
    margin-bottom: -10px;
}

.email h2,
.social h2 {
    color: var(--secondary-gray);
    font-family: 'Optima', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.email a {
    color: var(--secondary-gray);
    font-family: Optima;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.social {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.social .social-nav {
    list-style-type: none;
    display: flex;
    gap: 24px;
}

.section-1 {
    background-image: url(../img/portrait-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 108px;
}

.portrait-section-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 91px;
}

.left-block {
    margin-right: auto;
    margin-left: 87px;
}

.left-block .head-text {
    margin-bottom: 16px;
    color: var(--fot-text-white);
    font-family: 'Optima', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.left-block .discription {
    margin-bottom: 20px;
    color: var(--fot-text-white);
    font-family: 'Optima', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.left-block button,
.left-video-block button,
.reason-text-wrap button,
.team-block-wrap button {
    padding: 9px 20px;
    border-radius: 1px;
    background: var(--active, #D93448);
    display: flex;
    align-items: center;
    gap: 8px;
    border: unset;
}

.left-block button h4,
.left-video-block button h4,
.reason-text-wrap button h4,
.team-block-wrap button h4 {
    color: var(--fot-text-white);
    font-family: 'Optima', sans-serif;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
}

.section-2 {
    margin-bottom: 184px;
}

.section-2 .video-block-wrap {
    display: flex;
    justify-content: center;
}

.section-2 .left-video-block {
    margin-right: 30px;
    max-width: 540px;
}

.left-video-block .head-video-text {
    margin-bottom: 16px;
    color: var(--primary);
    font-family: 'Optima', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.left-video-block .video-discription {
    margin-bottom: 20px;
    color: var(--primary);
    font-family: 'Optima', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
}

.section-3 .reasone-wrap {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-inline: 85px;
    margin-bottom: 183px;
    align-items: flex-start;
}

.reason-text-wrap {
    max-width: 255px;
    position: sticky;
    top: 10px;
}

.reason-text-wrap .reason-why-text {
    margin-bottom: 16px;
    color: var(--primary);
    font-family: 'Optima', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.reason-text-wrap .reason-discription {
    margin-bottom: 20px;
    color: var(--primary);
    font-family: 'Optima', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
}

.reasons-blocks-wrap .reason-block {
    display: flex;
    align-items: center;
    gap: 30px;
    padding-block: 12px;
    border-top: 1px solid var(--primary);
    justify-content: space-between;
}

.reason-block .reason-block-main-text {
    display: flex;
    align-items: center;
    gap: 20px;
}

.reason-block-main-text .number {
    color: var(--primary);
    text-align: center;
    font-family: 'Optima', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.reason-block-main-text h3 {
    color: var(--primary);
    font-family: 'Optima', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.reason-text-inside {
    margin-left: 42px;
}

.reason-text-inside h4 {
    color: var(--primary);
    font-family: 'Optima', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
}

.section-4 .team-people-container {
    display: flex;
    justify-content: center;
    margin-bottom: 180px;
}

.team-people-container .team-block-wrap {
    max-width: 540px;
    margin-right: 74px;
}

.team-block-wrap .team-main-text {
    color: var(--primary);
    font-family: 'Optima', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 16px;
}

.team-block-wrap .discription-team-text {
    color: var(--primary);
    font-family: 'Optima', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    margin-bottom: 28px;
}

.section-4 .people-net-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 365px;
}

.people-net-wrap .project-manager {
    position: relative;
}

.people-net-wrap .project-manager-img {
    filter: grayscale(1);
    display: flex;
}

.project-manager .position {
    padding: 3px 12px;
    background-color: var(--primary);
    border-radius: 50px;
    position: absolute;
    color: var(--fot-text-white);
    text-align: center;
    font-family: 'Optima', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 123px;
    z-index: 1090;
    right: -132%;
    top: -10%;
}

.project-manager .position::after {
    content: "";
    position: absolute;

    border: 10px solid;

    border-top-color: transparent;
    border-bottom-color: transparent;
    border-left-color: var(--primary);
    border-right-color: transparent;
    rotate: 10deg;
    bottom: -8px;
    left: 1px;
}

.project-manager-img::after {
    content: "";
    background-color: var(--primary);
    position: absolute;
    width: 1px;
    height: 80px;
    left: 0;
    right: 0;
    margin: auto;
    translate: 0 100%;
    z-index: -1;
}

.people-net-wrap .project-manager:hover .position {
    background-color: #D93448;
}

.people-net-wrap .project-manager:hover .position::after {
    border-left-color: #D93448;
}

.people-net-wrap .project-manager-img:hover {
    filter: grayscale(0);
}

.people-net-wrap .project-manager-img:hover::after {
    background-color: #D93448;
}

.people-net-wrap.active .project-manager .position,
.project-manager:hover.position {
    background-color: #D93448;
}

.people-net-wrap.active .project-manager .position::after,
.project-manager:hover .position::after {
    border-left-color: #D93448;
}

.people-net-wrap.active .project-manager-img,
.people-net-wrap.active .project-manager-img:hover {
    filter: grayscale(0);
}

.people-net-wrap.active .project-manager-img::after,
.people-net-wrap.active .project-manager-img:hover::after {
    background-color: #D93448;
}

.people-net-wrap .dev-ops-fron-rend-wrap {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.dev-ops-fron-rend-wrap .dev-ops {
    position: relative;
}

.dev-ops-fron-rend-wrap .dev-ops .position {
    padding: 3px 12px;
    background-color: var(--primary);
    border-radius: 50px;
    position: absolute;
    color: var(--fot-text-white);
    text-align: center;
    font-family: 'Optima', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    left: -75%;
    top: -10%;
    z-index: 1090;
}

.dev-ops .position::after {
    content: "";
    position: absolute;

    border: 10px solid;

    border-top-color: transparent;
    border-bottom-color: var(--primary);
    border-left-color: transparent;
    border-right-color: transparent;
    rotate: 30deg;
    right: -8px;
    bottom: -3px;
}

.people-net-wrap .dev-ops-img path,
.dev-ops-img:hover path {
    stroke: #D93448;
}

.people-net-wrap .dev-ops:hover .position::after {
    border-bottom-color: #D93448;
}

.people-net-wrap .dev-ops:hover .position {
    background-color: #D93448;
}

.people-net-wrap .dev-ops-img:hover {
    filter: grayscale(0);
    z-index: 2;
}


.people-net-wrap.active .dev-ops-img:hover path {
    stroke: #D93448;
}

.people-net-wrap .dev-ops:hover .position::after {
    border-bottom-color: #D93448;
}

.people-net-wrap .dev-ops:hover .position {
    background-color: #D93448;
}

.people-net-wrap .dev-ops-img:hover {
    filter: grayscale(0);
    z-index: 2;
}


.dev-ops-img {
    filter: grayscale(1);
    position: relative;
    transition: all 0.3s ease;
    display: flex;
}

.dev-ops-img .left-top {
    position: absolute;
    top: 100%;
    left: 50%;
    z-index: 1;
}

.dev-ops-fron-rend-wrap .front-end {
    position: relative;
}

.front-end .position {
    padding: 3px 12px;
    background-color: var(--primary);
    border-radius: 50px;
    position: absolute;
    color: var(--fot-text-white);
    text-align: center;
    font-family: 'Optima', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 148px;
    z-index: 1090;
    right: -165%;
    top: -10%;
}

.front-end .position::after {
    content: "";
    position: absolute;

    border: 10px solid;

    border-top-color: transparent;
    border-bottom-color: transparent;
    border-left-color: var(--primary);
    border-right-color: transparent;
    rotate: 10deg;
    bottom: -8px;
    left: 1px;
}

.front-end .front-end-img {
    display: flex;
    filter: grayscale(1);
    position: relative;
}

.front-end-img .right-top {
    position: absolute;
    top: 100%;
    right: 50%;
    z-index: 1;
}

.dev-ops-fron-rend-wrap .front-end:hover .position::after {
    border-left-color: #D93448;
}

.dev-ops-fron-rend-wrap .front-end:hover .position {
    background-color: #D93448;
}

.dev-ops-fron-rend-wrap .front-end-img:hover {
    filter: grayscale(0);
    z-index: 2;
}

.dev-ops-fron-rend-wrap .front-end-img:hover path {
    stroke: #D93448;
}

.people-net-wrap .mikki-kobvel.hover .mikki img {
    filter: grayscale(0);
}

.people-net-wrap .mikki img {
    border-radius: 80px;
    filter: grayscale(1);
    z-index: 3;
    position: relative;
    display: flex;
}

.people-net-wrap .qa-engineer-back-end-wrap {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.qa-engineer-back-end-wrap .qa-engineer {
    position: relative;
}

.qa-engineer .position {
    padding: 3px 12px;
    background-color: var(--primary);
    border-radius: 50px;
    position: absolute;
    color: var(--fot-text-white);
    text-align: center;
    font-family: 'Optima', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 100px;
    left: -105%;
    top: -10%;
    z-index: 1090;
}

.qa-engineer .position::after {
    content: "";
    position: absolute;

    border: 10px solid;

    border-top-color: transparent;
    border-bottom-color: var(--primary);
    border-left-color: transparent;
    border-right-color: transparent;
    rotate: 30deg;
    right: -8px;
    bottom: -3px;
}

.qa-engineer-img {
    display: flex;
    filter: grayscale(1);
    position: relative;
}

.qa-engineer-img img {
    z-index: 2;
}

.qa-engineer-img .left-bottom {
    position: absolute;
    bottom: 87.5%;
    left: 50%;
    z-index: 1;
}

.qa-engineer-back-end-wrap .qa-engineer:hover .position::after {
    border-bottom-color: #D93448;
}

.qa-engineer-back-end-wrap .qa-engineer:hover .position {
    background-color: #D93448;
}

.qa-engineer-back-end-wrap .qa-engineer-img:hover {
    filter: grayscale(0);
    z-index: 2;
}

.qa-engineer-back-end-wrap .qa-engineer-img:hover path {
    stroke: #D93448;
}

.qa-engineer-back-end-wrap .back-end {
    position: relative;
}

.back-end .position {
    padding: 3px 12px;
    background-color: var(--primary);
    border-radius: 50px;
    position: absolute;
    color: var(--fot-text-white);
    text-align: center;
    font-family: 'Optima', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 148px;
    z-index: 1090;
    right: -165%;
    top: -10%;
}

.back-end .position::after {
    content: "";
    position: absolute;

    border: 10px solid;

    border-top-color: transparent;
    border-bottom-color: transparent;
    border-left-color: var(--primary);
    border-right-color: transparent;
    rotate: 10deg;
    bottom: -8px;
    left: 1px;
}

.back-end .back-end-img {
    display: flex;
    filter: grayscale(1);
    position: relative;
}

.back-end-img .right-bottom {
    position: absolute;
    bottom: 87.5%;
    right: 50%;
    z-index: -1;
}

.qa-engineer-back-end-wrap .back-end:hover .position::after {
    border-left-color: #D93448;
}

.qa-engineer-back-end-wrap .back-end:hover .position {
    background-color: #D93448;
}

.qa-engineer-back-end-wrap .back-end-img:hover {
    filter: grayscale(0);
    z-index: 2;
}

.qa-engineer-back-end-wrap .back-end-img:hover path {
    stroke: #D93448;
}

.people-net-wrap .designer {
    display: flex;
    position: relative
}

.designer .position {
    padding: 3px 12px;
    background-color: var(--primary);
    border-radius: 50px;
    position: absolute;
    color: var(--fot-text-white);
    text-align: center;
    font-family: 'Optima', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    left: -75%;
    top: -10%;
    z-index: 1090;
}

.designer .position::after {
    content: "";
    position: absolute;

    border: 10px solid;

    border-top-color: transparent;
    border-bottom-color: var(--primary);
    border-left-color: transparent;
    border-right-color: transparent;
    rotate: 30deg;
    right: -8px;
    bottom: -3px;
}

.designer .designer-img {
    display: flex;
    filter: grayscale(1);
}

.designer-img::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 80px;
    background-color: var(--primary);
    margin: auto;
    left: 0;
    right: 0;
    translate: 0 -100%;
    z-index: -1;
}

.people-net-wrap .designer:hover .position {
    background-color: #D93448;
}

.people-net-wrap .designer:hover .position::after {
    border-bottom-color: #D93448;
}

.people-net-wrap .designer-img:hover {
    filter: grayscale(0);
}

.people-net-wrap .designer-img:hover::after {
    background-color: #D93448;
}